* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #DDD;
}

.folha {
    background-color: white;
    margin: 0 25%;
    box-shadow: 6px 1px 5px 0px #aaa, -6px 1px 5px 0px #aaa;
}

.container {
    margin: 0 5%;
}

.titulo {
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
}

.link {
    text-decoration: none;
}

.aviso {
    background-color: yellow;
    text-align: center;
    font-size: 30px;
    padding: 50px;
}

@media (max-width: 800px) {
    .folha {
        margin: 0 10%;
    }
}


@media (max-width: 600px) {
    .folha {
        margin: 0 2%;
    }
}

.lista-disciplinas {
    margin-top: 1rem;
    list-style: none;
}

.lista-disciplinas-item {
    background-color: #5e35b1;
    padding: 10px 15px;
    text-align: center;
    margin: 24px 50px;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
}

.lista-disciplinas-item:hover {
    background-color: #311b92;
}

.lista-materias-item {
    margin-left: 18px;
    list-style: none;
    padding: 6px;
    font-weight: 600;
    color: #000;
}

.lista-materias-item:hover {
    background-color: #ccc;
}

.rodape {
    height: 80px;
}

.questao {
    background-color: #EEE;
    border-radius: 6px;
    padding: 24px 12px;
}

.questao-alternativas {
    padding: 6px;
}

.questao-alternativas-item {
    list-style: none;
    padding: 6px;
}

.banca {
    font-weight: bold;
}

.comentarios {
    padding: 24px;

}

.comentarios-titulo {
    font-weight: bold;
    text-decoration: underline;
    margin: 24px 6px;
}