* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #DDD;
}

.folha {
    background-color: white;
    margin: 0 25%;
    box-shadow: 6px 1px 5px 0px #aaa, -6px 1px 5px 0px #aaa;
}

.container {
    margin: 0 5%;
}

.titulo {
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
}

.link {
    text-decoration: none;
}

.aviso {
    background-color: yellow;
    text-align: center;
    font-size: 30px;
    padding: 50px;
}

@media (max-width: 1200px) {
    .folha {
        margin: 0 15%;
    }
}

@media (max-width: 800px) {
    .folha {
        margin: 0 10%;
    }
}


@media (max-width: 600px) {
    .folha {
        margin: 0 2%;
    }
}

.lista-disciplinas {
    margin-top: 1rem;
    list-style: none;
}

.lista-disciplinas-item {
    background-color: #5e35b1;
    padding: 10px 15px;
    text-align: center;
    margin: 24px 25%;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
}

.lista-disciplinas-item:hover {
    background-color: #311b92;
}

.lista-materias-item {
    margin-left: 18px;
    list-style: decimal-leading-zero inside;
    padding: 6px;
    font-weight: 600;
    color: #000;
}

.lista-materias-item:hover {
    background-color: #ccc;
}

.rodape {
    height: 80px;
}

.questao {
    background-color: #EEE;
    border-radius: 6px;
    padding: 12px 12px;
    margin-top: 12px;
}

.questao p {
    line-height: 1.5;
}

.questao-alternativas {
    padding: 6px;
}

.questao-alternativas-item {
    list-style: none;
    padding: 6px;
}

.banca {
    font-weight: bold;
}

.comentarios {
    padding: 24px;
    color: #1565c0;

}

.comentarios-titulo {
    font-weight: bold;
    text-decoration: underline;
    margin: 24px 6px;
}

.resumo {
    color: rgba(13, 71, 161, 1.0);
    background-color: rgba(187, 222, 251, 0.2);
    border-radius: 6px;
    padding: 12px;
    margin-top: 12px;
}

.resumo-titulo {
    font-weight: bold;
    margin-bottom: 12px;
    text-decoration: underline;
}

.resumo p {
    margin: 24px 12px;
}

.titulo-h2 {
    color: rgba(13, 71, 161, 1.0);
    margin: 24px 0;
    border-radius: 6px;
    padding: 6px 12px;
    border: 1px solid rgba(13, 71, 161, 1.0);
}

.destaque {
    display: flex;
    justify-content: center;
}

.destaque-formula {
    display: inline-block;
    border-radius: 6px;
    padding: 6px 30px;
    margin-top: 12px;
    justify-content: center;
    justify-content: center;
    background-color: #e8f5e9;
    color: #1b5e20;
}

p {
    line-height: 1.5;
    margin-top: 24px;
}