<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exatas para Concursos</title>
    <link rel="stylesheet" href="../../css/estilos.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <!-- Header -->
    <div class="folha">
        <div class="container">
            <header>
                <h1 class="titulo">Proposições Lógicas</h1>
                <hr>
            </header>
            <!-- End Header -->

            <!-- Main -->
            <main>
                <div class="aviso">
                    <p>Esta página está em construção</p>
                </div>

                <section class="resumo">
                    <h3 class="resumo-titulo">Resumo</h3>
                    <p><strong>Proposição lógica: </strong> é uma oração declarativa, ou seja, pode ser verdadeira ou
                        falsa.</p>
                    <p><strong>Não são proposições:</strong> Sentenças exclamativas, interrogativas, imperativas e
                        optativas.</p>
                    <p>A lógica proposicional obedece três princípios conhecidos como <strong>Leis do
                            Pensamento:</strong></p>
                    <p>1. <u>Identidade:</u> Uma proposição verdadeira é sempre verdadeira. Uma proposição falsa é
                        sempre
                        falsa.</p>

                    <p>2. <u>Não Contradição:</u> Uma proposição não pode ser verdadeira e falsa ao mesmo tempo.</p>
                    <p>3. <u>Terceiro Excluído:</u> Uma proposição ou é verdadeira ou falsa. Não existe outra
                        possibilidade.
                    </p>
                </section>

                <!--
                <section class="resumo">
                    <h3 class="resumo-titulo">Resumo</h3>
                    <p>Texto</p>
                </section>

                <div class="destaque">
                    <div class="destaque-formula">
                        $$ \frac{10^{24}}{b^2 - 2 \times a \times b} $$
                    </div>
                </div>
                -->

                <section class="questoes">
                    <div class="questao">
                        <span class="banca">(VUNESP - 2019)</span> Dentre as sentenças a seguir, aquela que é uma
                        sentença
                        aberta é:
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) \( 3 \times x + 4 - x - 3 - 2 \times x = 0 \)
                            </li>
                            <li class="questao-alternativas-item">B) \( 7 + 3 = 11 \)</li>
                            <li class="questao-alternativas-item">C) \( 0 \times x = 5 \)</li>
                            <li class="questao-alternativas-item">D) \( 13 \times x = 7 \)</li>
                            <li class="questao-alternativas-item">E) \( 43 - 1 = 42 \)</li>
                        </ul>
                    </div>
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>

                    <div class="questao">
                        <span class="banca">(VUNESP - 2014)</span> Segundo a lógica aristotélica, as proposições têm
                        como uma de suas propriedades básicas poderem ser verdadeiras ou falsas, isto é, terem um valor
                        de verdade. Assim sendo, a oração “A Terra é um planeta do sistema solar”, por exemplo, é uma
                        proposição verdadeira e a oração “O Sol gira em torno da Terra”, por sua vez, é uma proposição
                        comprovadamente falsa. Mas nem todas as orações são proposições, pois algumas orações não podem
                        ser consideradas nem verdadeiras e nem falsas, como é o caso da oração:
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) O trigo é um cereal cultivável de cuja farinha se
                                produz pão.
                            </li>
                            <li class="questao-alternativas-item">B) Metais são elementos que não transmitem
                                eletricidade.</li>
                            <li class="questao-alternativas-item">C) Rogai aos céus para que a humanidade seja mais
                                compassiva.</li>
                            <li class="questao-alternativas-item">D) O continente euroasiático é o maior continente do
                                planeta.</li>
                            <li class="questao-alternativas-item">E) Ursos polares são répteis ovíparos que vivem nos
                                trópicos.</li>
                        </ul>
                    </div>
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>


                    <div class="questao">
                        <span class="banca">(VUNESP - 2014)</span> Um dos princípios fundamentais da lógica é o da não
                        contradição. Segundo este princípio, nenhuma proposição pode ser simultaneamente verdadeira e
                        falsa sob o mesmo aspecto. Uma das razões da importância desse princípio é que ele permite
                        realizar inferências e confrontar descrições diferentes do mesmo acontecimento sem o risco de se
                        chegar a conclusões contraditórias. Assim sendo, o princípio da não contradição
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) fornece pouco auxílio lógico para investigar a
                                legitimidade de descrições.
                            </li>
                            <li class="questao-alternativas-item">B) permite conciliar descrições contraditórias entre
                                si e relativizar conclusões..</li>
                            <li class="questao-alternativas-item">C) exibe propriedades lógicas inapropriadas para
                                produzir inferências válidas.</li>
                            <li class="questao-alternativas-item">D) oferece suporte lógico para realizar inferências
                                adequadas sobre descrições.</li>
                            <li class="questao-alternativas-item">E) propicia a produção de argumentos inválidos e
                                mutuamente contraditórios.</li>
                        </ul>
                    </div>
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>
                </section>

                </section>
            </main>
            <!-- End Main -->

            <!-- Footer -->
            <footer class="rodape">

            </footer>
            <!-- End Footer -->


        </div>


    </div>

</body>

</html>