<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exatas para Concursos</title>
    <link rel="stylesheet" href="../../css/estilos.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <!-- Header -->
    <div class="folha">
        <div class="container">
            <header>
                <h1 class="titulo">Proposições Lógicas</h1>
                <hr>
            </header>
            <!-- End Header -->

            <!-- Main -->
            <main>
                <div class="aviso">
                    <p>Esta página está em construção</p>
                </div>

                <section class="resumo">
                    <h3 class="resumo-titulo">Resumo</h3>
                    <p><strong>Proposição lógica: </strong> é uma oração declarativa, ou seja, pode ser verdadeira ou
                        falsa.</p>
                    <p><strong>Não são proposições:</strong> Sentenças exclamativas, interrogativas, imperativas e
                        optativas (desejo).</p>
                    <p>A lógica proposicional obedece três princípios conhecidos como <strong>Leis do
                            Pensamento:</strong></p>
                    <p>1. <u>Identidade:</u> Uma proposição verdadeira é sempre verdadeira. Uma proposição falsa é
                        sempre
                        falsa.</p>

                    <p>2. <u>Não Contradição:</u> Uma proposição não pode ser verdadeira e falsa ao mesmo tempo.</p>
                    <p>3. <u>Terceiro Excluído:</u> Uma proposição ou é verdadeira ou falsa. Não existe outra
                        possibilidade.
                    </p>

                    <p><strong>Proposição simples: </strong>é aquela que não pode ser dividida em proposições menores.
                    </p>
                    <p>A negação de uma proposição simples \(p\) gera uma nova proposição simples \(\neg p\)</p>
                    <p>
                        Se a proposição original tem valor <em>verdadeiro</em>, a negação será uma proposição com valor
                        <em>falso</em>.
                    </p>
                    <p><strong>Dupla negação:</strong> \(\neg (\neg p) \equiv p \)</p>
                    <p><strong>Proposição composta: </strong> é aquela resultante da combinação de duas ou mais
                        proposições simples por meio do uso de conectivos.</p>
                </section>

                <section class="materia">
                    <h2 class="titulo-h2">Introdução</h2>
                    <p>Olá pessoal! Tudo bem com vocês? Espero que sim!</p>
                    <p>Vamos começar aqui nosso curso de Raciocínio Lógico para Concursos. E meu desejo é que este aqui
                        seja seu único material teórico da matéria, e que com ele você consiga gabaritar qualquer prova
                        que
                        venha a fazer.</p>
                    <p>E neste módulo vamos falar de proposições lógicas. Esse é um tema muito importante, pois
                        trata-se do fundamento da matéria. O conteúdo desde módulo não costuma cair em concursos com
                        tanta frequência, mas como é a base para o estudo de Raciocínio Lógico, é bem importante o
                        entendermos bem. A
                        nossa sorte é que é um assunto tranquilo.</p>

                    <h2 class="titulo-h2">Proposição</h2>
                    <p>De maneira bem simples, uma <strong>proposição</strong> é uma frase declarativa que pode ser
                        <strong>verdadeira</strong>
                        ou <strong>falsa</strong>. Repare neste ponto: é uma frase declarativa!
                    </p>
                    <p>Se estivermos diante de
                        uma frase exclamativa, de uma pergunta, da expressão de uma opinião, então, não teremos uma
                        proposição.</p>
                    <p>Um ponto muito importante de uma proposição é que ela sempre terá um valor lógico, que pode ser
                        verdadeiro ou falso.</p>
                    <p>Se, por exemplo, falarmos que "São Paulo é a capital do Brasil" teremos uma proposição, pois é
                        uma
                        frase declarativa, com valor lógico igual a falso. Conseguimos fazer essa avaliação porque
                        sabemos que a capital do Brasil na verdade é Brasília.</p>
                    <p>Um tipo de estrutura de frases que devemos ficar atento são as chamadas <strong>sentenças
                            abertas</strong>. Elas também não são proposições.</p>
                </section>

                <!--
                <section class="resumo">
                    <h3 class="resumo-titulo">Resumo</h3>
                    <p>Texto</p>
                </section>
            -->


                <div class="destaque">
                    <div class="destaque-formula">
                        $$ x = \frac{-b \pm \sqrt{b^{2}-4 \times a \times c }}{2 \times a} $$
                    </div>
                </div>



                <section class="questoes">

                    <h2 class="titulo-h2">Questões</h2>

                    <!-- Início Questão -->
                    <div class="questao">
                        <span class="banca">(VUNESP - 2019)</span> Dentre as sentenças a seguir, aquela que é uma
                        sentença
                        aberta é:
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) \( 3 \times x + 4 - x - 3 - 2 \times x = 0 \)
                            </li>
                            <li class="questao-alternativas-item">B) \( 7 + 3 = 11 \)</li>
                            <li class="questao-alternativas-item">C) \( 0 \times x = 5 \)</li>
                            <li class="questao-alternativas-item">D) \( 13 \times x = 7 \)</li>
                            <li class="questao-alternativas-item">E) \( 43 - 1 = 42 \)</li>
                        </ul>
                    </div>
                    <!-- Fim Questão -->
                    <!-- Início Comentários -->
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>
                    <!-- Fim Comentários -->

                    <!-- Início Questão -->
                    <div class="questao">
                        <span class="banca">(VUNESP - 2014)</span> Segundo a lógica aristotélica, as proposições têm
                        como uma de suas propriedades básicas poderem ser verdadeiras ou falsas, isto é, terem um valor
                        de verdade. Assim sendo, a oração “A Terra é um planeta do sistema solar”, por exemplo, é uma
                        proposição verdadeira e a oração “O Sol gira em torno da Terra”, por sua vez, é uma proposição
                        comprovadamente falsa. Mas nem todas as orações são proposições, pois algumas orações não podem
                        ser consideradas nem verdadeiras e nem falsas, como é o caso da oração:
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) O trigo é um cereal cultivável de cuja farinha se
                                produz pão.
                            </li>
                            <li class="questao-alternativas-item">B) Metais são elementos que não transmitem
                                eletricidade.</li>
                            <li class="questao-alternativas-item">C) Rogai aos céus para que a humanidade seja mais
                                compassiva.</li>
                            <li class="questao-alternativas-item">D) O continente euroasiático é o maior continente do
                                planeta.</li>
                            <li class="questao-alternativas-item">E) Ursos polares são répteis ovíparos que vivem nos
                                trópicos.</li>
                        </ul>
                    </div>
                    <!-- Fim Questão -->
                    <!-- Início Comentários -->
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>
                    <!-- Fim Comentários -->

                    <!-- Início Questão -->
                    <div class="questao">
                        <span class="banca">(VUNESP - 2014)</span> Um dos princípios fundamentais da lógica é o da não
                        contradição. Segundo este princípio, nenhuma proposição pode ser simultaneamente verdadeira e
                        falsa sob o mesmo aspecto. Uma das razões da importância desse princípio é que ele permite
                        realizar inferências e confrontar descrições diferentes do mesmo acontecimento sem o risco de se
                        chegar a conclusões contraditórias. Assim sendo, o princípio da não contradição
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) fornece pouco auxílio lógico para investigar a
                                legitimidade de descrições.
                            </li>
                            <li class="questao-alternativas-item">B) permite conciliar descrições contraditórias entre
                                si e relativizar conclusões.</li>
                            <li class="questao-alternativas-item">C) exibe propriedades lógicas inapropriadas para
                                produzir inferências válidas.</li>
                            <li class="questao-alternativas-item">D) oferece suporte lógico para realizar inferências
                                adequadas sobre descrições.</li>
                            <li class="questao-alternativas-item">E) propicia a produção de argumentos inválidos e
                                mutuamente contraditórios.</li>
                        </ul>
                    </div>
                    <!-- Fim Questão -->
                    <!-- Início Comentários -->
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>
                    <!-- Fim Comentários -->

                    <!-- Início Questão -->
                    <div class="questao">
                        <span class="banca">(VUNESP - 2014)</span> A lógica clássica possui princípios fundamentais que
                        servem de base para a produção de raciocínios válidos. Esses princípios foram inicialmente
                        postulados por Aristóteles (384 a 322 a.C.) e até hoje dão suporte a sistemas lógicos. Tais
                        princípios são os
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) da inferência, da não contradição e do terceiro
                                incluído.
                            </li>
                            <li class="questao-alternativas-item">B) da diversidade, da dedução e do terceiro incluído.
                            </li>
                            <li class="questao-alternativas-item">C) da identidade, da inferência e da não contradição.
                            </li>
                            <li class="questao-alternativas-item">D) da identidade, da não contradição e do terceiro
                                excluído.</li>
                            <li class="questao-alternativas-item">E) da diversidade, da indução e da não contradição.
                            </li>
                        </ul>
                    </div>
                    <!-- Fim Questão -->
                    <!-- Início Comentários -->
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>
                    <!-- Fim Comentários -->

                    <!-- Início Questão -->
                    <div class="questao">
                        <span class="banca">(VUNESP - 2014)</span> A proposição pode ser caracterizada como sentença
                        declarativa que admite um, e somente um, valor de verdade (verdadeiro ou falso). Considerando
                        essa definição, assinale a alternativa correta.
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) A sentença exclamativa “Quero comprar um bom
                                carro!” é falsa.
                            </li>
                            <li class="questao-alternativas-item">B) A sentença declarativa “Choveu no dia do jogo de
                                basquete?” é falsa.
                            </li>
                            <li class="questao-alternativas-item">C) A sentença exclamativa “Parabéns pelo seu
                                aniversário” é verdadeira.
                            </li>
                            <li class="questao-alternativas-item">D) A sentença interrogativa “Florianópolis é a capital
                                do Pará?” é verdadeira.</li>
                            <li class="questao-alternativas-item">E) A sentença declarativa “Brasil é um Estado
                                soberano” é verdadeira.
                            </li>
                        </ul>
                    </div>
                    <!-- Fim Questão -->
                    <!-- Início Comentários -->
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>
                    <!-- Fim Comentários -->

                    <!-- Início Questão -->
                    <div class="questao">
                        <span class="banca">(VUNESP - 2014)</span> Das alternativas apresentadas, assinale a única que
                        contém uma proposição lógica.
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) Ser um perito criminal ou não ser? Que dúvida!
                            </li>
                            <li class="questao-alternativas-item">B) Uma atribuição do perito criminal é analisar
                                documentos em locais de crime.
                            </li>
                            <li class="questao-alternativas-item">C) O perito criminal também atende ocorrências com
                                vítimas de terrorismo!
                            </li>
                            <li class="questao-alternativas-item">D) É verdade que o perito criminal realiza análises no
                                âmbito da criminalística?</li>
                            <li class="questao-alternativas-item">E) Instruções especiais para perito criminal.
                            </li>
                        </ul>
                    </div>
                    <!-- Fim Questão -->
                    <!-- Início Comentários -->
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>
                    <!-- Fim Comentários -->

                    <!-- Início Questão -->
                    <div class="questao">
                        <span class="banca">(VUNESP - 2010)</span> Dadas as proposições:
                        <p>I. \(3 (11 - 7) \neq 5 \)</p>
                        <p>II. \( 5.7 - 2 \leq 5.6 \)</p>
                        <p>III. \( (-2)^{5} \ge (-2)^{3} \)</p>
                        <p>As negações lógicas de cada proposição são verdadeiras apenas para</p>
                        <ul class="questao-alternativas">
                            <li class="questao-alternativas-item">A) I</li>
                            <li class="questao-alternativas-item">B) II</li>
                            <li class="questao-alternativas-item">C) I e II</li>
                            <li class="questao-alternativas-item">D) I e III</li>
                            <li class="questao-alternativas-item">E) II e III</li>
                        </ul>
                    </div>
                    <!-- Fim Questão -->
                    <!-- Início Comentários -->
                    <div class="comentarios">
                        <p class="comentarios-titulo">Comentários</p>
                        <p>Aqui começa a resposta da questão</p>
                    </div>
                    <!-- Fim Comentários -->

                </section>

            </main>
            <!-- End Main -->

            <!-- Footer -->
            <footer class="rodape">

            </footer>
            <!-- End Footer -->


        </div>


    </div>

</body>

</html>